#txtRight {
  text-align: end !important;
}

#isFav {
  background-color: #98e0ff;
  border: 0px;
}
.row0 {
  display: flex;
  align-items: center;
}
#searchContainer {
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 4px 0px #999999;
  border-radius: 5px;
  padding: 5px;
  height: 36px;
}

#searchField {
  border: 0px;
  height: 34px;
}

#iconBtn {
  border: 0px;
  background: white;
}
