#cardContainer {
  width: 99%;
  box-shadow: 0px 1px 5px -1px #999999;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

#cardGridItem {
  padding: 10px;
  margin-left: 7px;
  margin-right: 7px;
}

#cardLabel {
  color: #4263c7;
}

#cardHeading {
  background-image: linear-gradient(71.66deg, #4285f4 -2.97%, #885df5 111.3%);
  /* background: #e9f1ff;
  background: #4263c7; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}
#head {
  font-size: small;
  padding: 7px;
  text-align: center;
  color: #1c8aff;
}

@media (max-width: 500px) {
  #media12 {
    color: red !important;
  }
}
